
Makefile.in

/autom4te.cache
/config.h.in
/config.h.in~
/aclocal.m4
/compile
/configure
/config.guess
/config.sub
/depcomp
/install-sh
/missing
/test-driver

# unit tests

/one/Adj
/one/Grid*
/one/Intersect
/one/Layer
/one/Line
/one/Near
/one/Plan
/one/Queue
/one/Ring
/one/Sort
/one/Tableau

# acceptance

/acceptance

# docs

/misc/*.pdf

